@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&family=Ranga&display=swap');

$fontTitle: 'Biryani';
$fontSubtitle: 'Ranga';

$bgfirstmain: #737376;
 