@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@900&family=Ranga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

$fontTitle: 'Biryani';
$fontSubtitle: 'Ranga';
$fontText: 'Quicksand';

$bgfirstmain: #737376;
$lineColor: #ea4a56;
$bgsecondmain: #292d39;